*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
#wrapper{
	font-family: 'Open Sans', sans-serif;
	font-size:16px;
	font-weight:400;
	line-height:26px;
}
.container{
	width:1160px;
	padding:0 15px;
	margin:auto;
}
   /*----------------header-------------------*/
  header{
   	background-color:#0f0f15;
   	padding:35px 0 30px 0;
   	display:flex;
    }
   a{
   	text-decoration: none;
   }
   li{
   	list-style-type:none;
   }
   header .container{
      display:flex;
      justify-content: space-between;
   }
   .logo a{
      margin-right:20px;
   }
  .nav_list{
      display: flex;
     }
   .nav_list li{
      padding:9px 0 10px 25px;
      text-transform:capitalize;
      flex:1 1 auto;
     }
   .nav_list li a{
      color:#fff;
      font-size:13px;
      font-weight:600;
   }

 
