*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
#wrapper{

}
.container{
	width:1160px;
	padding:0 15px;
	margin:auto;
}
   /*----------------header-------------------*/
   header{
   	background-color:#0f0f15;
   	padding:35px 0 30px 0;
   	}
   a{
   	text-decoration: none;
   }
   li{
   	list-style-type:none;
   }
   header .container{
      display:flex;
      justify-content: space-between;
   }
   .logo{
     border:1px solid red;
   }
   .logo a{
      flex:0 0 auto;
      margin-right:20px;
   }
  .nav_list{
      display: flex;
      /*justify-content:flex-end;*/

}
   .nav_list li{
      padding:9px 0 10px 25px;
      text-transform:capitalize;
      /*display: inline-block;*/
      border:1px solid blue;
      /*flex:0 0 auto;*/
   }
   .nav_list li a{
      color:#fff;
   }

 
