*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
#wrapper{
	font-family: 'Open Sans', sans-serif;
	font-size:16px;
	font-weight:400;
	line-height:26px;
	color:#a5a5a6;
  }
.container{
	width:1160px;
	padding:0 15px;
	margin:auto;
}
   /*----------------header-------------------*/
  header{
   	background-color:#0f0f15;
   	padding:35px 0 30px 0;
   }
   a{
   	text-decoration: none;
   }
   li{
   	list-style-type:none;
   }
   .header{
   	display:flex;
   	justify-content:space-between;
   	align-items:center;
  }
  .logo a{
  	margin-right:20px;
  }
  .nav_list{
  	display:flex;
    flex-wrap:wrap;
    }
   .nav_list li{
   	 margin-left:14px;
   	 }
   .nav_list li a{
  	text-transform: capitalize;
  	font-weight:600;
  	color: #fff;
  	font-size:13px;
  	 padding:6px;
  	 border-radius:10px;
  	 flex:1;
  }
  .nav_list li a:hover{
  	color:#2e677c;
  	background-color:#e45646;
  	}
  	/*--------------------------header-------------------------------*/
  	/*---------------------------banner-------------------------------*/
  	.banner{
  		width:100%;
  		height:800px;
  		position:relative;
  	}
  	.banner::after{
  		content:'';
  		width:100%;
  		height:100%;
  		background-image: url(../images/base.jpg);
  		background-size: cover;
  		position:absolute;
  		top:0;
      z-index:-1;
    }
  	.banner_flex{
  		display:flex;
     justify-content:space-between;
     }
    .left{
      z-index: 1;
      color:#fff;
      flex-direction: column;
      justify-content: center;
      width:500px;
      margin-top: 116px;
    }
    .right{
      z-index: 1;
    }
    .left h2{
      font-weight:700;
      font-size:34px;
      line-height: 1.5;
    }
    .left ul{
      margin:58px 0;
    }
    .left li{
      font-size:14px;
    }
    .left li + li{
      margin-top:40px;
    }
    .left a{
      background-color:#e3595d;
      color:#fff;
      padding:17px 38px;
      border-radius:10px;
      border:1px solid #e3595d;
    }
    .left a + a{
      margin-left: 25px;
    }
    .left a:hover{
      background:none;
    }
    .right{
      display:flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    .register{
      background-color: #e95c60;
      color: #fff;
      padding:26px 45px;
      border-radius: 10px;
      border:1px solid #e3595d;
    }
    .messenger_image1{
      background-color:#438fd2;
      color:#fff;
      padding:26px 55px;
      display: flex;
      align-items: center;
      margin-top:40px;
      border-radius: 10px;
      border:1px solid #438fd2;
    }
    .messenger_image1 img{
      margin-right:14px;
    }
     .right a:hover{
      background:none;
    }
   .supporters{
      margin-top:70px;
      text-align:center;
      color:#fff;
    }
    .supporters h2{
      text-transform: uppercase;
      font-weight:700;
      font-size:18px;
    }
    .supporters_image{
      display:flex;
      justify-content: space-between;
      align-items: center;
      margin-top:50px;
    }

  	/*---------------------------/banner-----------------------------*/
    /*---------------------------social media------------------------*/
    .social_media{
      height:500px;
      position:relative;
     }
     .social_media::after{
      content:'';
      width:100%;
      height:100%;
      background-image:url(../images/graph.png);
      position:absolute;
      top:0;
      z-index: -1;
     }
     .media{
      z-index:1;
      text-align: center;
      width:100%;
      height:500px;
      display:flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
     }
     .media h2{
      font-weight:700;
      font-size:26px;
      text-transform: uppercase;
      color:#fff;
     }
     .icons{
      display:flex;
      color:#3767fc;
      margin:40px 0 100px 0;
      }
      .icons a{
        background-color:#fff;
        padding:16px 20px;
        margin-left:16px;
      }
      h2.news{
        font-size:18px;
        margin-bottom: 30px;
      }
      input[type="email"]{
        width:500px;
        height:25px;
        padding:33px 30px 33px 30px;
        position:relative;
        background-color: #2b2b35;
        outline:1px solid #2b2b35;
        border-radius: 7px 0 0 7px;
       }
      input[type="submit"]{
        cursor:pointer;
        height:71px;
        width:160px;
        position: absolute;
        border:none;
        color:#2b2b35;
        font-weight:700;
        border-radius: 0 7px 7px 0;
      }   
      input[placeholder]{
        color:#fff;
      }    
    /*---------------------------/social media------------------------*/
    /*----------------------------partners data------------------------*/
    .partners{
      padding:105px 0 133px 0;
    }
    .partners h2{
      color:#232528;
      font-size:34px;
      font-weight:700;
      text-transform: uppercase;
      text-align: center;
      margin-bottom:70px;
      }
    .logos img{
      width:256px;
      height:80px;
      border:1px solid #f0f3f6;
      margin:0 30px 30px 0;
    }
    .logos img:nth-child(4n){
      margin-right:0;
    }
    .graph1{
      background:url(../images/graph1.png);
      background-size:cover;
      width:100%;
      height:728px;
      padding-top:134px;
    }
    .graph1 p{
      text-align: center;
      color:#fff;
      font-size:26px;
      line-height: 2;
    }
    .translate_image{
      background-color:#faf9fb;
      position:relative;
      padding-bottom:105px;
    }
    .transform_image img{
      display:block;
      margin:auto;
     transform:translateY(-320px);
    }
    .transform_image div{
      text-align:center;
      color:#232528;
      padding-bottom:105px;
      position:absolute;
      bottom:10px;
     }
    .transform_image h2{
      font-size:26px;
      font-weight:700;
      margin-bottom: 30px;
      text-transform: uppercase;
    }
    .transform_image p{
       line-height:2;
    }
      /*----------------------------/partners data------------------------*/
     /*-----------------------------main----------------------------------*/
      .main1{
        padding:100px 0 111px 0;
        text-align: center;
        color:#232528;
      }
      .main1 h2{
        font-size:34px;
        font-weight:700;
        line-height:1.5;
      }
      .main1 p{
        font-size:20px;
      }
      .main{
        display:flex;
       }
      .main_image{
        width:349px;
        height:349px;
        margin:0 60px 158px 0;
        flex:1 0;
      }
      .main_image1{
        flex-direction: row-reverse;
      }
      .main_image2{
        padding-left:60px;
      }
      .main_content{
        flex:1 1 auto;
        margin-top:70px;
      }
      .main h2{
        color:#232528;
        font-size:26px;
        font-weight:700;
        text-transform: uppercase;
        margin-bottom:40px;
      }
      .main p{
        color:#636363;
        line-height:2;
      }
      /*-----------------------------/main----------------------------------*/
      /*-----------------------------team members-----------------------------*/
     .team_members{
      background:url(../images/background.png);
      background-size: cover;
      margin-top:150px;
     }
     .list_of_team_members > h2{
      text-align: center;
      text-transform: uppercase;
      font-size:50px;
      font-weight:700;
      transform: translateY(-246px);
      color:#232528;
    }
     .grid{
         display:flex;
         flex-wrap:wrap;
      }
     .grid_item{
        width:324px;
        margin:0 60px 300px 0;
        height:450px;
        transform:translateY(-170px);
     }
    .grid_item:nth-child(3n){
        margin-right:0;
     }
     .grid_item img{
      width:100%;
      height:329px;
     }
     .grid_item h2{
        font-weight:600;
        font-size:34px;
       color: #fff;
       line-height:1;
       margin-top:73px;
     }
     h2 small{
      font-size:18px;
    }
    .grid_item p{
      font-weight:600;
      color:#959596;
      margin:43px 0 42px 0;
    }
    .grid_item a{
      background-color: #e3595d;
      color:#fff;
      padding:20px 25px;
      border-radius: 10px;
    }

     /*-----------------------------/team members-----------------------------*/    
    /*--------------------------------subteam--------------------------------*/
    .image_side{
      padding:78px 0 184px 0;
  1  }
    .image_side_content{
      display: flex;
      margin-bottom:45px;
      align-items:center;
    }
    .image_side_content img{
      width:100%;
      margin-right:64px;
    }
    .image_side_content div{
      align-items:center;
      justify-content: center;
      font-weight:600;
    }
    .image_side_content h2{
      font-size:34px;
      color:#232528;
      line-height: 1;
      margin-bottom:44px;
    }
    .image_side_content p{
      color:#636363;
    }
    /*--------------------------------/subteam---------------------------------*/
    /*--------------------------------portfolio--------------------------------*/
    .portfolio_heading > h2{
      font-size:50px;
      font-weight:700;
      text-align: center;
      color:#232528;
    }
    .portfolio_content1{
      display:flex;
      flex-direction: row-reverse;
      margin:92px 0 130px 0;
     }
    .portfolio1{
      display:flex;
      align-items:center;
      justify-content: center;
      background-image:url(../images/portfolio1.png);
      flex:1 0 80%;
     }
    .portfolio1 div{
      width:496px;
    }
    .portfolio1 div h2{
      font-size:26px;
      font-weight: 700;
      margin-bottom:34px;
      color:#fff;
    }
    .portfolio1 div p{
      line-height:2;
    }
    .video{
      display:inline-flex;
      flex:1 0;
      border:10px solid #fff;
     }
    .video1{
      transform:translate(225px, 130px);
     }
    .portfolio_content2{
      display:flex;
      margin-top:190px;
     }
    .portfolio2{
      display:flex;
      align-items:center;
      justify-content: center;
      background-image:url(../images/portfolio2.png);
      flex:1 0 80%;
     }
    .portfolio2 div{
      width:496px;
    }
    .portfolio2 div h2{
      font-size:26px;
      font-weight: 700;
      margin-bottom:34px;
      color:#fff;
    }
    .portfolio2 div p{
      line-height:2;
    }
  .video2{
    transform:translate(-225px, 130px);
    }
    .portfolio_content3{
      display:flex;
      flex-direction: row-reverse;
      margin-top:190px;
      }
    .portfolio3{
      display:flex;
      align-items:center;
      justify-content: center;
      background-image:url(../images/portfolio3.png);
      flex:1 0 80%;
     }
    .portfolio3 div{
      width:496px;
    }
    .portfolio3 div h2{
      font-size:26px;
      font-weight: 700;
      margin-bottom:34px;
      color:#fff;
    }
    .portfolio3 div p{
      line-height:2;
    }
  .video3{
      transform:translate(225px, 130px);
    }
    .portfolio_content4{
      display:flex;
      margin-top:190px;
      }
    .portfolio4{
      display:flex;
      align-items:center;
      justify-content: center;
      background-image:url(../images/portfolio4.png);
      flex:1 0 80%;
      
     }
    .portfolio4 div{
      width:496px;
    }
    .portfolio4 div h2{
      font-size:26px;
      font-weight: 700;
      margin-bottom:34px;
      color:#fff;
    }
    .portfolio4 div p{
      line-height:2;
    }
  .video4{
      transform:translate(-225px, 130px);
    }
    
    /*--------------------------------/portfolio--------------------------------*/
    /*----------------------------------roadmap---------------------------------*/
    .road_map{
      margin:190px 0 118px 0;
     }
    .road_map h2{
      text-align:center;
      font-size:50px;
      font-weight:700;
      color:#232528;
    }
    .roadmap_line{
      margin-top:250px;
    }
   .circle{
       display:flex;
       justify-content:space-between;
       position:relative;
    }
   .line{
       border: 8px solid #f2f3f4;
       transform:translateY(330px);
       z-index:-1;
     }
    .fas{
         font-size:40px;
    }
    .circle_red{
      color:#ce5054;
    }
    .circle_yellow{
      color:#f6a41f;
    }
    .circle_violet{
      color:#9a5df4;
    }
   .circle_green{
    color:#74bf42;
   }
   .circle_blue{
    color:#46acf0;
   }
   .circle_orange{
    color:#ff8465;
   }
  .list_of_bottom{
    display:flex;
    justify-content:space-around;
  }
  .list_of_bottom li{
    text-align:center;
    font-size:14px;
    font-weight:600;
  }
  .list_of_top{
    display:flex;
    justify-content:space-around;
  }
  .list_of_top li{
     text-align:center;
    font-size:14px;
    font-weight:600;
  }
    /*----------------------------------/roadmap---------------------------------*/
 
  







